<h2>Parent</h2>

<div class="row">
  <div class="col">
    <h2>User</h2>
    <br>
    <table>
      <tr>
        <th>Add ToDo:</th>
        <th class="remove">Remove</th>
      </tr>
      <tr class="trsize" *ngFor="let i of users; index as j">
        <td>{{i}}</td>
        <td class="remove" (click)="removeitem(j)">Remove</td>
        
      </tr>
    </table>
  </div>
  <div class="col">
    <h2>Admin</h2>
    <br>
    <table>
      <tr>
        <th>User Name:</th>
        <th class="remove">Remove</th>
      </tr>
      <tr>
        
        <tr class="trsize" *ngFor="let i of users2; index as j">
        <td>{{i}}</td>
        <td class="remove" (click)="removeitem2(j)">Remove</td>
      </tr>
    </table>
  </div>
</div>

<h2>Child</h2>
<hr />
<div class="child">
  <app-child [boxcolor]="'red'" [placeholder]="'Create Task..'" (inputEvent)="pushUser($event)"></app-child>
  <app-child [boxcolor]="'green'" [placeholder]="'Create User'" (inputEvent)="pushAdmin($event)"></app-child>
</div>
